.row {
    text-align: center;
}

.row:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.btnOrder {

    min-width: 200px;
}

.btnOrderIdText {
    font-size: 22pt;
}

.btnOrderRed {
    background-color: #ffd8de;
}

.krsLabelRed {
    color: #C00;
    list-style: disc !important;
}

#orderID {
    font-size: 24px;
    font-weight: bold;
    width: 300px;
}

.indexLink {
    font-weight: bold;
    font-size: 4rem;
}

#orderListScreen {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14vh;
    font-weight: bold;
    font-family: verdana, serif;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#orderListScreen div {
    background-color: white;
}

#bodyInput {
    margin-left: 30vh;
}

/******************/

.orderOutTest {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14vh;
    font-weight: bold;
    font-family: verdana, serif;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.btnOrderIdText
{
    font-size: 10vh !important;
}

.orderOutTest button{
    width: 100%;
    min-height: 14vh;
    font-size: 3vh;
}

@media (max-width: 200px){
    .orderOutTest{
        -webkit-columns: 1;
        -moz-columns: 1;
        column-count: 1;
    }
}
@media (min-width: 201px){
    .orderOutTest{
        -webkit-columns: 2;
        -moz-columns: 2;
        column-count: 2;
    }
}
