.row {
    text-align: center;
}
.row:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.element-wrapper {
    /*display: table-cell;*/
    vertical-align: top;
    display: inline-block;
    min-width: 23%;
    text-align: center;
    margin: 10px 0;
}
.krsButton {
    width: 80%;
    height: 100px;
    margin: auto;
    background: whitesmoke;
    color: black;
    min-width: 200px;
}

.krsButtonOrderID
{
	font-size:22pt;
}

.krsButtonRed
{
    background-color: #F44;
}

.krsLabelRed
{
    color: #C00;
    list-style: disc !important;
}

#orderID
{
	font-size: 24px;
	font-weight: bold;
    width: 300px;
}

.indexLink
{
    font-weight: bold;
    font-size: 4rem;
}

#orderListScreen{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14vh;
    font-weight: bold;
    font-family: verdana;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#orderListScreen div{
    background-color: white;
}

#bodyEingabe {
    margin-left: 30vh;
}